<html lang="en">
	<head>
		<base href="http://localhost:8080/" />
		<link href="../stylesheets/header.css" rel="stylesheet" />
	</head>

	<body>
		<header>
			<div class="logo">
				<a href="/" target="_parent">Multiplayer Games</a>
			</div>
			<div class="menu">
				<a href="pages/matches.html" target="_parent" class="trial">Play a match</a>
				<a href="pages/my-games.html" target="_parent" class="trial">My games</a>
				<a href="pages/friends.html" target="_parent"  class="member">Friends</a>
			</div>
			<div class="menu">
				<a href="pages/matches.html" target="_parent" class="admin">Play a match</a>
				<a href="pages/templates.html" target="_parent" class="admin">Edit a template</a>
				<a href="pages/users.html" target="_parent" class="admin">Manage users</a>
			</div>
			<span class="user">
				<a id="signup" href="../pages/signup.html" target="_parent">Sign up</a>
				<a href="pages/login.html" target="_parent">Log in</a>
			</span>
			<a id="my-account" href="../pages/profile.html" target="_parent">My account</a>
		</header>

		<script src="../scripts/updateHeader.js"></script>
	</body>
</html>
